/* VIDEO LIST */

.video-list {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    display: flex;
}
.video-item {
    width: 300px;
    height: 230px;
    margin: 5px;
    background: #000;
    align-self: flex-end;

}
.video-item a:hover {
    text-decoration: none;
}

.video-item img {
    width: 100%;
    max-height: 160px;
}

.video-item figure {
    margin: 0;
}

.video-item .metadata {
    color: #fff;
    padding: 1rem;
    align-self: flex-end;

}

.video-item .metadata-footer {
    display: flex;
    font-size: .75rem;
    justify-content: space-between;

}


.video-search .form-group {
    flex-direction: column;

}
.video-search .form-group.checkbox label {
    margin-bottom: 0;
}
.video-search .form-group.checkbox {
    flex-direction: row;
    align-items: center;
}
.video-search .form-group:last-child {
    margin-bottom: 0;
    padding-top: 10px;
}
.video-search .btn-default {
    display: block;
    border: 1px solid #dee2e6;
    width: 100%;
}

.video-search .btn-default:hover {
    border-color: #1e90ff;
    color: #1e90ff;

}

.video-search input[type="text"] {
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    padding: .5rem;
}

.video-search .rw-datetime-picker.rw-widget input {
    border: none;
}


/* Video Player */
.video-player-wrapper {

    width: 100%;
}

.video-player {
    width: 100%;
}

.video-player-wrapper ul.related-videos-list {
    list-style-type: none;
    padding: 0;
}

/* Modal Overrides */
.modal {
    /* background: #000; */
}
.modal-body {
    padding: 0;
}
.modal-header {
    border-bottom: none;
}

.modal-content {
    /* background: #444; */
}